body{
    background-color: brown;
    background-size: cover;
}
header{
    background-color: beige; /* l: header acima do menu*/
    padding: 40px 10px 10px 40px; /* l: borda do conteudo com a box*/
    text-align: justify;
   
}
.menu{
    background-color: rgb(20, 27, 21); /* lola: menu  */
     /* l: largura máxima do menu */
    position: sticky;
    margin: none;
    font-size: 40PX;
    text-align: justify;
   
}
.menu ul li{
    display: inline-block;

    
}
.menu ul li:hover{
    background-color: rgb(38, 90, 45);
    
}
.menu ul li a{
    text-decoration: none;
    padding: 10px;
    padding: 15px 60px 15px 60px;
    color: aquamarine;
    display: block;
} 
.h{
    font-size: 40px;
}
.section{
    background-color: beige;
    text-align: justify;
    width: 1000px;
    margin: auto;
   
}
.div1{
    padding: 0px 10px 10px 40px;
}
p{
    padding: 0px 40px 40px 40px;
}
.vid{
    padding: 0px 40px 40px 40px;
    float: right;
    height: 200px;
    width: 300px;
}
img{
    max-width: 400px;
    padding: 0px 40px 40px 40px;
    float: left;
}
